@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  aside {
    width: 4rem;
  }
}

.gradient-blue {
  background-image: linear-gradient(to top, #1554b9, #3B82F6); /* Blue gradient */
}

.gradient-red {
  background-image: linear-gradient(to top, #ce0b5f, #EF4444); /* Red gradient */
}

.gradient-green {
  background-image: linear-gradient(to top, #008a5c, #10B981); /* Green gradient */
}

.gradient-black {
  background-image: linear-gradient(to top left, #000, #4B5563); /* Black diagonal gradient */
}
.gradient-yellow {
  background-image: linear-gradient(to top right, #ffea00, #c6a803); /* Black diagonal gradient */
}

/* BarChart.css */
.chart-container {
  position: relative; 
  width: 100%;       
  height: 100%;     
  padding: 0;       
  margin: 0;        
}

.chart {
  width: 100% !important;
  height: 100% !important; 
}
